 <% if current_user %>
  <h3>Hey</h3>
  <%= link_to "Log out", session_path("current"), method: :delete %>
  <%= link_to "Delete User", new_session_path, method: :delete %>
  <div id="wide-square"></div>
<% else %>
  <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
<% end %>